/* REUSABLE CSS */
:root {
  --primary-color: #a61e4d;
  /* --secondary-color: ; */
  --text-color: #343a40;
  --background-color: ##ffdeeb;
}

html {
  font-size: 62.5%;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.margin-bottom-big {
  margin-bottom: 30px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
