/* 1136px */
@media (max-width: 71em) {
  .main-heading {
    font-size: 6.4rem;
  }
}

/* 1000px */
@media (max-width: 62.5em) {
  .main-heading {
    font-size: 4.8rem;
  }

  #users-input-1 {
    width: 70px;
    height: 70px;
    font-size: 3.2rem;
  }
  #users-input-2 {
    width: 70px;
    height: 70px;
    font-size: 3.2rem;
  }
  #users-input-3 {
    width: 70px;
    height: 70px;
    font-size: 3.2rem;
  }
  #users-input-4 {
    width: 70px;
    height: 70px;
    font-size: 3.2rem;
  }

  .heading {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 10px 20px;
  }
}

/* 752px */
@media (max-width: 47em) {
  .main-heading {
    font-size: 3.6rem;
  }

  .how-to-play {
    font-size: 2rem;
  }

  #users-input-1 {
    width: 60px;
    height: 60px;
    font-size: 2.4rem;
  }
  #users-input-2 {
    width: 60px;
    height: 60px;
    font-size: 2.4rem;
  }
  #users-input-3 {
    width: 60px;
    height: 60px;
    font-size: 2.4rem;
  }
  #users-input-4 {
    width: 60px;
    height: 60px;
    font-size: 2.4rem;
  }

  #display-guess {
    font-size: 3.2rem;
  }

  #result {
    font-size: 2.4rem;
  }

  .heading {
    font-size: 2rem;
  }

  .num-tries {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 10px 20px;
  }

  .icon-close {
    height: 3.2rem;
    width: 3.2rem;
  }

  .heading-how {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .lets {
    font-size: 1.6rem;

    .main-container {
      grid-template-columns: 1fr;
  }

  /* 600px */
  @media (max-width: 37.5em) {
    .main-heading {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .how-to-play {
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    .flex {
      gap: 10px;
    }

    #users-input-1 {
      width: 50px;
      height: 50px;
      font-size: 1.4rem;
    }
    #users-input-2 {
      width: 50px;
      height: 50px;
      font-size: 1.4rem;
    }
    #users-input-3 {
      width: 50px;
      height: 50px;
      font-size: 1.4rem;
    }
    #users-input-4 {
      width: 50px;
      height: 50px;
      font-size: 1.4rem;
    }

    #result {
      font-size: 1.8rem;
    }

    .heading {
      font-size: 1.4rem;
    }

    .tries-num {
      font-size: 1.2rem;
    }

    .btn {
      font-size: 1.2rem;
      padding: 7.5px 15px;
    }

    .main-container {
      grid-template-columns: 1fr;
    }
  }
}
